body {
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    width: 60%;
    margin: 0 auto;
}

.logo img, h1 {
    float: left;
}

.logo img {
    position: relative;
    top: 20px;
    margin-right: .5em;
}

.links ul {
    list-style-type: none;
    float: right;
}

.links li {
    color: lightgrey;
    display: inline;
    padding: 20px;
}

.title {
    clear: both;
}

main {
    width: 50%;
    margin: 0 auto;
    padding: 5em;
}

main h2 {
    text-align: center;
    line-height: .5em;
}

main.text {
    text-align: left;
}

.social {
    width: 150px;
    margin: 0 auto;
}

main button {
    background-color: lightblue;
    color: white;
    border-radius: 2px;
    padding: .8em;
    width: 150px;
    margin: 0 auto;
}

.date {
    color: lightgrey;
    padding-top: 2em;
    padding-bottom: 1px;
    font-size: .8em;
    text-align: center;
    font-weight: thin;
}

.text {
    padding-top: 1.5em;
    width: 90%;
    margin: 0 auto; 
}

hr {
    width: 45%;
}

footer {
    width: 50%;
    margin: 0 auto;
}

.footerlinks {
    float: left;
}

.footerlinks ul {
    list-style-type: none;
}

.footerlinks ul li {
    color: lightgrey;
    display: inline;
    margin-right: 1em;
}

.copyright p {
    color: lightgrey;
    clear: both;
    text-align: center;
    padding-top: 3em;
}