body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.content {
    width: 70%;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-image: url("img/atl.png");
    background-repeat: no-repeat;
}


ul {
    list-style-type: none;
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: #868686;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* MAIN */

.icons {
    margin: 0 auto;
}

.icon {
    width: 33%;
    float: left;
}

.at, .hash, .dollar {
    font-size: 6em;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.at {
    border: 10px solid #F07833;
}

.hash {
    border: 10px solid #7BC043;
}

.dollar {
    border: 10px solid #3C8ABF;
}

/* FOOTER */

.footer {
    background-color: #515151;
    clear: both;
}

.footlinks {
    margin: 0 auto;
}

.copyright {
    color: #868686;
    font-size: .6em;
}