body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #DDDDDD
}

.content {
    width: 60%;
    margin: 0 auto;
    background-color: #F4F4F4;
    border: 1px solid black;
    padding: 2px;
}

/* HEADER */

.header {
    background-image: url("img/atl.png");
    background-repeat: no-repeat;
    height: 475px;
    color: white;
    position: relative;
}


ul {
    list-style-type: none;
    position: absolute;
    right: 150px;
    font-size: .8em;
}

ul li {
    display: inline;
    padding: 1em;
}

ul li a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
}

a:hover {
    color: white;
    text-decoration: underline;
}

.logo {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 26%;
}

.insidelogo {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    font-weight: 300;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

h3 {
    position: relative;
    font-weight: lighter;
    font-size: 1.1em;
    color: rgba(255,255,255,.5);
    width: 300px;
    text-align: center;
    left: 90px;
}

.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 48%;
    bottom: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* MAIN */

.main {
    height: 600px;
    position: relative;
    background-color: #F4F4F4;
}

.tagline {
    margin: 0 auto;
}

.tagline p {
    text-align: center;
    font-weight: lighter;
    font-size: 2em;
    padding: 2em;
}

.icons {
    position: absolute;
    width: 70%;
    left: 20%;
}

.icon {
    /* position: relative; */
    width: 28%;
    margin-right: 2em;
    float: left;
}

.at, .hash, .dollar {
    position: relative;
    font-size: 5em;
    width: 110px;
    height: 110px;
    border-radius: 100%;
}

.at {
    border: 10px solid #F07833;
}

.hash {
    border: 10px solid #7BC043;
}

.dollar {
    border: 10px solid #3C8ABF;
}

.at span {
    position: absolute;
    top: 8%;
    left: 15%;
}

.hash span {
    position: absolute;
    top: 15%;
    left: 30%;
}

.dollar span {
    position: absolute;
    top: 15%;
    left: 30%;
}

.users h2 {
    position: absolute;
    left: .5em;
    font-size: 2em;
    font-weight: lighter;
}


.hashtags h2 {
    position: absolute;
    font-size: 2em;
    font-weight: lighter;
    bottom: -5;
}


.moolah h2 {
    position: absolute;
    right: 3.7em;
    font-size: 2em;
    font-weight: lighter;
}

.users p {
    position: absolute;
    width: 120px;
    bottom: -200px;
    text-align: center;
}

.hashtags p {
    width: 120px;
    position: absolute;
    bottom: -200px;
    text-align: center;
}

.moolah p {
    position: absolute;
    width: 120px;
    bottom: -180px;
    left: 480px;
    text-align: center;
}

/* FOOTER */

.footer {
    position: relative;
    background-color: #515151;
    clear: both;
    height: 150px;
}

.footlinks ul {
    position: absolute;
    top: 20%;
    right: 30%;
}

.footlinks ul li {
    padding: 1em;
    font-size: 1.5em;
    font-weight: lighter;
}

.copyright {
    position: absolute;
    bottom: 2px;
    right: 41%;
    color: #868686;
    font-size: .8em;
}