body {
    background-color: #F4F4F4;
    font-size: 1em;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: relative;
    float: left;
    background-color: #555555;
    color: #DBDBDB;
    height: 620px;
    width: 160px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 2em 1em 1em 1em;
    margin-right: 2em;
    box-shadow: 1px 0px 2px grey;
}

form {
    text-align: center;
}

#search {
    border: 2px solid #DBDBDB;
    background-color: #555555;
    color: #DBDBDB;
    border-radius: 3px;
    margin-top: 1em;
    width: 150px;
    height: 1.6em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: .3em;
}

ul a {
    text-decoration: none;
    margin: 2em;
    color: #DBDBDB;
}

a:hover {
    text-decoration: underline;
    color: white;
}


.copyright {
    position: absolute;
    font-size: .5em;
    font-weight: thin;
    bottom: 5px;
}

/*MAIN*/

main {
    width: 800px;
    margin: 0 0 0 8em;
    position: relative;
}

.header {
    padding-top: 1.6em;
    position: relative;
    width: 650px;
}

p.welcome {
    color: grey;
    font-size: .9em;
}

h1 {
    position: absolute;
    top: 1.1em;
    left: 190px;
    font-weight: normal;
    font-size: 2.2em;
}

.quoteblock {
    position: relative;
    left: 100px;
    background-color: #DEDAD9;
    border-left: 5px solid #AAA6A3;
    color: #B2AEAD;
    width: 700px;
    height: 100px;
    font-style: italic;
}

.quote {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 100px;
    text-indent: 1em;
    /* border: 2px solid black; */
}

.quotetext {
    position: absolute;
    top: 0;
    left: -20px;
    line-height: 1.5em;
    font-size: 1em;
}

.quotebefore, .quoteafter {
    display: inline-block;
    font-size: 3em;
    margin: 0;
    padding: 0;
    height: 10px;
    
}

.quotebefore {
    position: absolute;
    top: -15px;
    left: -40px;
}

.quoteafter {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#attribution {
    position: absolute;
    bottom: -5px;
    right: 180px;
    text-align: right;
}

h2 {
    font-size: .7em;
    margin-top: 3em;
}
